body {
    ont: 16px/1.8 "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  }
  
  .slabtexted .slabtext {
    display: -moz-inline-box;
    display: inline-block;
    white-space: nowrap;
  }
  
  .slabtextinactive .slabtext {
    display: inline;
    white-space: normal;
    font-size: 1em !important;
    letter-spacing: inherit !important;
    word-spacing: inherit !important;
    *letter-spacing: normal !important;
    *word-spacing: normal !important;
  }
  
  .slabtextdone .slabtext {
    display: block;
  }
  
  h1 {
    font-family: "Oswald", "Arial Black", Gadget, sans-serif;
    text-transform: uppercase;
    line-height: 1;
  }
  